<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">

  <body>
    <main>
      <section class="position-relative mb-5 video-parent" id="mac-video">
        <div class="container">
          <div class="row" [@fadeInRightBig]>
            <video autoplay loop playsinline width="100%" class="mac-video">
              <source src="https://www.apple.com/105/media/us/mac/family/2024/60fc0159-4236-4a03-8534-f5ba07e538c5/anim/welcome/xlarge_2x.mp4" type="video/mp4" class="mac-video">
            </video>
          </div>
        </div>
      </section>
      <button class="top" (click)="scrollToTop()" #topButton>
        <a href="#mac-video"><i class="fa-solid fa-arrow-up-long"></i></a>
      </button>
    </main>
    <section class="search-bar">
      <div class="search-parent">
        <form (submit)="onSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Search for name..."
            [(ngModel)]="searchTerm"
            name="search"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
      <div class="search-parent">
        <form (submit)="onSearchPrice()">
          <input
            type="number"
            class="form-control"
            placeholder="Search for Price..."
            [(ngModel)]="searchPrice"
            name="searchPrice"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
    </section>

    <section class="mac-data">
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let mac of filteredData; let i = index">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
              <div class="card p-5 product-card">
                <img [src]="mac.image" class="card-img-top product-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{mac.name}}</h5>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i">
                    Buy Now
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content modal-big">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{mac.name}}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex">
                          <div class="modal-img col-lg-6">
                            <img [src]="mac.image" class="card-img-top product-image-modal" alt="...">
                          </div>
                          <div class="modal-description col-lg-6">
                            <h1>{{mac.name}}</h1>
                            <p>Price: <span>{{mac.price | currency}}</span></p>
                            <p>Type: <span>{{mac.type}}</span></p>
                            <p>Color: <span>{{mac.color}}</span></p>
                            <p>Weight: <span>{{mac.weight}}</span></p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
                          <span class="minus" (click)="clickMinus()"*ngIf="count > 0">-</span>
                          <span class="count">{{count}}</span>
                          <span class="plus" (click)="clickPlus()">+</span>
                          <button type="button" class="btn btn-primary" (click)="addToCart(mac)">Add To Cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Modal -->
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
    <section class="model-3d-section">
      <div class="fire-container">
        <h2 class="fire-blaze text-center large-centered large-10">
          Coming Soon
        </h2>
      </div>
      <div class="c-viewer">
        <iframe title="Apple Mac Mini for Element 3D 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/fbfe1d9214bd40818755fe6d05b4afec/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </section>

    <section class="more-mac-section">
      <div class="container more-mac-parent">
        <div class="row">
          <div class="col-lg-12 more-mac-one">
            <div class="essential-card-text-container">
              <h3 class="essential-card-header typography-card-headline">Studio Display</h3>
              <p class="essential-card-copy typography-family-paragraph">The 27-inch 5K Retina display pairs beautifully
                with any Mac.</p>
            </div>
            <img
              src="https://www.apple.com/v/mac/home/by/images/overview/essentials/essentials_display__bk3i351qm0c2_xlarge.jpg"
              class="studio-display-photo">
          </div>
        </div>
      </div>
    </section>
  </body>
