<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <body>
    <main>
      <section class="position-relative mb-5 video-parent" id="watch-video">
        <div class="container">
          <div class="row" [@fadeInRightBig]>
            <video autoplay loop playsinline width="100%" class="watch-video">
              <source src="https://www.apple.com/105/media/ww/watch/2024/f0b51c31-e8a5-44d7-b23d-51bd2858454a/anim/hero-alt/xlarge_2x.mp4" type="video/mp4" class="mac-video">
            </video>
          </div>
        </div>
      </section>
      <button class="top" (click)="scrollToTop()" #topButton>
        <a href="#watch-video"><i class="fa-solid fa-arrow-up-long"></i></a>
      </button>
    </main>

    <section class="search-bar">
      <div class="search-parent">
        <form (submit)="onSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Search for name..."
            [(ngModel)]="searchTerm"
            name="search"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
      <div class="search-parent">
        <form (submit)="onSearchPrice()">
          <input
            type="number"
            class="form-control"
            placeholder="Search for Price..."
            [(ngModel)]="searchPrice"
            name="searchPrice"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
    </section>
    <section class="watch-data">
      <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
        <ng-container *ngFor="let watch of filteredData; let i = index">
          <div class="col-lg-4 mb-3">
            <div class="card p-5 product-card" *ngIf="watch.id >= 1">
              <img [src]="watch.image" class="card-img-top product-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{watch.name}}</h5>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#exampleModal' + i">
                  Buy Now
                </button>

                <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content modal-big">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{watch.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body d-flex ">
                        <div class="modal-img col-lg-6">
                          <img [src]="watch.image" class="card-img-top product-image-modal" alt="...">
                        </div>
                        <div class="modal-description col-lg-6">
                          <h1>{{watch.name}}</h1>
                          <p>price:<span>{{watch.price|currency}}</span></p>
                          <p>display:<span>{{watch.display}}</span></p>
                          <p>color:<span>{{watch.color}}</span></p>
                          <p>gps:<span>{{watch.gps}}</span></p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close"
                          data-bs-dismiss="modal">Close</button>
                        <span class="minus" (click)="clickMinus()" *ngIf="count > 0">-</span>
                        <span class="count">{{count}}</span>
                        <span class="plus" (click)="clickPlus()">+</span>
                        <button type="button" class="btn btn-primary" (click)="addToCart(watch)">Add To Cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section class="model-3d-section">
      <div class="fire-container">
        <h2 class="fire-blaze text-center large-centered large-10">
          Coming Soon
        </h2>
      </div>
      <div class="c-viewer">
        <iframe title="Apple Watch Gold Case Midnight Blue Sport Band 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/b1b0f75ae2aa41ff9ec6250efed2954b/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </section>
    <section class="more-watch-section">
      <div class="container more-watch-parent">
        <div class="row">
          <div class="col-lg-6 more-watch-icons">
            <img
              src="https://www.apple.com/mideast/watch/home/bl/images/overview/augment/en/accordion_watch_and_iphone__w7k178oumc2a_xlarge.jpg"
              class="iphone-watch-pic">
          </div>
          <div class="col-lg-6 more-watch-one">
            <h3 class="accordion-title-text"> Apple&nbsp;Watch and&nbsp;iPhone</h3>
            <p class="accordion-paragraph-text">Combining Apple&nbsp;Watch and iPhone opens up a world of features that
              make each device better. You can do things like get directions on iPhone and receive a tap on your wrist
              when it’s time to turn. Or set up a group photo on iPhone, then use your watch to see and snap
              the&nbsp;shot.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
