<footer class="footer-custom">
  <div class="footer-row">
    <div class="footer-box">
      <h5>Explore</h5>
      <ul>
        <li><a href="#">Mac</a></li>
        <li><a href="#">Ipad</a></li>
        <li><a href="#">Iphone</a></li>
        <li><a href="#">Watch</a></li>
        <li><a href="#">AirPods</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>

    <div class="footer-box">
      <h5>Contact Us</h5>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
    </div>

    <div class="footer-box">
      <h5>Entertainment</h5>
      <ul>
        <li><a href="#">Apple One</a></li>
        <li><a href="#">Apple TV+</a></li>
        <li><a href="#">Apple Music</a></li>
        <li><a href="#">Watch</a></li>
        <li><a href="#">Apple Arcade</a></li>
        <li><a href="#">Apple Books</a></li>
        <li><a href="#">Apple Store</a></li>
      </ul>
    </div>
  </div>
</footer>
