<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <h3 class="footer-head">Explore</h3>
        <ul class="footer-ul">
          <li><a class="footer-link" routerLink="/Mac">Mac</a></li>
          <li><a class="footer-link" routerLink="/Ipad">Ipad</a></li>
          <li><a class="footer-link" routerLink="/Iphone">Iphone</a></li>
          <li><a class="footer-link" routerLink="/Watch">Watch</a></li>
          <li><a class="footer-link" routerLink="/AirPods">AirPods</a></li>
          <li><a class="footer-link" routerLink="/Home">Home</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <h3 class="footer-head">Contact Us</h3>
        <ul class="footer-ul">
          <li class="social"><a class="footer-link social" href="https://www.facebook.com/apple?mibextid=ZbWKwL"><i
                class="fa-brands fa-facebook-f"></i></a></li>
          <li class="social"><a class="footer-link social"
              href="https://www.instagram.com/apple?igsh=NTlmbzR5Z2pha3R"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li class="social"><a class="footer-link social" href="https://x.com/apple?lang=en"><i
                class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="social"><a class="footer-link social" href="https://support.apple.com/ar-eg/mail"></a><i
              class="fa-solid fa-envelope"></i></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <h3 class="footer-head">Entertainment</h3>
        <ul class="footer-ul">
          <li><a class="footer-link" routerLink="">Apple One</a></li>
          <li><a class="footer-link" routerLink="">Apple TV+</a></li>
          <li><a class="footer-link" routerLink="">Apple Music</a></li>
          <li><a class="footer-link" routerLink="">Watch</a></li>
          <li><a class="footer-link" routerLink="">Apple Arcade</a></li>
          <li><a class="footer-link" routerLink="">Apple Books</a></li>
          <li><a class="footer-link" routerLink="">Apple Store</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <p class="footer-copyright">Copyright ©
          2024
          Apple Inc. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
