<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <body>
    <main>
      <section class="position-relative mb-5 video-parent" id="ipad-video">
        <div class="container">
          <div class="row" [@fadeInRightBig]>
            <video autoplay loop playsinline width="100%" class="ipad-video">
              <source src="https://www.apple.com/105/media/us/ipad/2024/45762adb-901a-4726-8b0c-1f3ee092b09a/anim/welcome-hero/xlarge_2x.mp4" type="video/mp4" class="mac-video">
            </video>
          </div>
        </div>
      </section>
      <button class="top" (click)="scrollToTop()" #topButton>
        <a href="#ipad-video"><i class="fa-solid fa-arrow-up-long"></i></a>
      </button>
    </main>
    <section class="search-bar">
      <div class="search-parent">
        <form (submit)="onSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Search for name..."
            [(ngModel)]="searchTerm"
            name="search"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
      <div class="search-parent">
        <form (submit)="onSearchPrice()">
          <input
            type="number"
            class="form-control"
            placeholder="Search for Price..."
            [(ngModel)]="searchPrice"
            name="searchPrice"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>

    </section>

    <section class="ipad-data">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000" style="padding: 0 70px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
              <ng-container *ngFor="let ipad of filteredData; let i = index">
                <div class="col-lg-4 mb-3">
                  <div class="card p-5 product-card">
                    <img [src]="ipad.image" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ipad.name}}</h5>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModal' + i">
                        Buy Now
                      </button>
                      <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content modal-big">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{ipad.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex ">
                              <div class="modal-img col-lg-6">
                                <img [src]="ipad.image" class="card-img-top product-image-modal" alt="...">
                              </div>
                              <div class="modal-description col-lg-6">
                                <h1>{{ipad.name}}</h1>
                                <p>price: <span>{{ipad.price | currency}}</span></p>
                                <p>usb: <span>{{ipad.usb}}</span></p>
                                <p>color: <span>{{ipad.color}}</span></p>
                                <p>display: <span>{{ipad.display}}</span></p>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary modal-close"
                                data-bs-dismiss="modal">Close</button>
                              <span class="minus" (click)="clickMinus()"*ngIf="count > 0">-</span>
                              <span class="count">{{count}}</span>
                              <span class="plus" (click)="clickPlus()">+</span>
                              <button type="button" class="btn btn-primary" (click)="addToCart(ipad)">Add To
                                Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="model-3d-section">
      <div class="fire-container">
        <h2 class="fire-blaze text-center large-centered large-10">
          Coming Soon
        </h2>
      </div>
      <div class="c-viewer">
        <iframe title="(2018) Apple ipad Pro 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/2b94e77eff32407a970e8d345c8c40cf/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </section>
    <section class="more-ipad-section">
      <div class="container more-ipad-parent">
        <div class="row">
          <div class="col-lg-6 more-ipad-1">
            <img
              src="https://www.apple.com/mideast/ipad/home/cj/images/overview/essentials/en/bc_keyboard__b2j4vh67cw76_xlarge.png"
              class="mac-photo-under-data">
            <div class="text-under-ipad-section">
              <p class="new">New</p>
              <h3 class="keyboard-ipad-header">Keyboards for iPad</h3>
              <p class="para-ipad-section">Type it out. Take it with you.</p>
            </div>
          </div>
          <div class="col-lg-6 more-ipad-2">
            <div class="text-up-ipad-section">
              <p class="new">New</p>
              <h3 class="apple-ipad-header">Apple Pencil</h3>
              <p class="dream-ipad-section">Dream it up. Joy it down</p>
            </div>
            <img
              src="https://www.apple.com/mideast/ipad/home/cj/images/overview/essentials/en/bc_pencil__b1ze600aojyq_xlarge.png"
              class="one-logo">
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
