<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <body>
    <main>
      <section class="position-relative mb-5 video-parent" id="iphone-video">
        <div class="container">
          <div class="row" [@fadeInRightBig]>
            <video #videoPlayer autoplay loop playsinline width="100%" class="iphone-video" muted>
              <source
                src="https://www.apple.com/105/media/ww/iphone/family/2024/1efec3e0-8619-4684-a57e-6e2310394f08/anim/welcome/xlarge_2x.mp4"
                type="video/mp4" class="iphone-video">
            </video>
          </div>
        </div>
      </section>
      <button class="top" (click)="scrollToTop()" #topButton>
        <a href="#iphone-video"><i class="fa-solid fa-arrow-up-long"></i></a>
      </button>
    </main>

    <section class="search-bar">
      <div class="search-parent">
        <form (submit)="onSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Search for name..."
            [(ngModel)]="searchTerm"
            name="search"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
      <div class="search-parent">
        <form (submit)="onSearchPrice()">
          <input
            type="number"
            class="form-control"
            placeholder="Search for Price..."
            [(ngModel)]="searchPrice"
            name="searchPrice"
          />
          <button type="submit" class="btn btn-primary search-button">Search</button>
        </form>
      </div>
    </section>

    <section class="iphone-data">
      <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
        <ng-container *ngFor="let iphone of filteredData; let i = index">
          <div class="col-lg-4 mb-3">
            <div class="card p-5 product-card" *ngIf="iphone.id >= 1">
              <img [src]="iphone.image" class="card-img-top product-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{iphone.name}}</h5>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#exampleModal' + i">
                  Buy Now
                </button>

                <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content modal-big">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{iphone.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body d-flex ">
                        <div class="modal-img col-lg-6">
                          <img [src]="iphone.image" class="card-img-top product-image-modal" alt="...">
                        </div>
                        <div class="modal-description col-lg-6">
                          <h1>{{iphone.name}}</h1>
                          <p>price:<span>{{iphone.price|currency}}</span></p>
                          <p>display:<span>{{iphone.display}}</span></p>
                          <p>color:<span>{{iphone.color}}</span></p>
                          <p>storage:<span>{{iphone.storage}}</span></p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close"
                          data-bs-dismiss="modal">Close</button>
                        <span class="minus" (click)="clickMinus()" *ngIf="count > 0">-</span>
                        <span class="count">{{count}}</span>
                        <span class="plus" (click)="clickPlus()">+</span>
                        <button type="button" class="btn btn-primary" (click)="addToCart(iphone)">Add To Cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section class="model-3d-section">
      <div class="fire-container">
        <h2 class="fire-blaze text-center large-centered large-10">
          Coming Soon
        </h2>
      </div>
      <div class="c-viewer">
        <iframe title="Iphone 14 Pro 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/5cb0778041a34f09b409a38c687bb1d4/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </section>

    <section class="more-iphone-section">
      <h2 class="typography-section-headline more-iphone-headline large-centered large-10">Get more out of
        your&nbsp;iPhone.</h2>
      <div class="container more-iphone-parent">
        <div class="row">
          <div class="col-lg-6 more-iphone-icons">
            <img src="https://www.apple.com/mideast/iphone/home/bg/images/overview/bundle__gkzbqz77r82m_large.jpg">
          </div>
          <div class="col-lg-6 more-iphone-one">
            <img
              src="https://www.apple.com/v/iphone/home/bi/images/overview/more-iphone/apple_one__cq8ojsqxitea_large.jpg"
              class="one-logo">
            <p class="tile-subheadline">Bundle four Apple&nbsp;services. <br class="large">And enjoy more for less.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
