<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>
<div *ngIf="!isLoading">

  <body>
    <main>
      <section class="position-relative mb-5 video-parent" id="iphone-video">
        <div class="container">
          <div class="row" [@fadeInRightBig]>
            <video #videoPlayer autoplay loop playsinline width="100%" class="iphone-video"
              (loadedmetadata)="muteVideo()" muted>
              <source
                src="https://www.apple.com/105/media/ww/iphone/family/2024/1efec3e0-8619-4684-a57e-6e2310394f08/anim/welcome/xlarge_2x.mp4"
                type="video/mp4" class="iphone-video">
            </video>
          </div>
        </div>
      </section>
      <button class="top" (click)="scrollToTop()" #topButton>
        <a href="#iphone-video"><i class="fa-solid fa-arrow-up-long"></i></a>
      </button>
    </main>
    <section class="iphone-data">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000" style="padding: 0 70px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
              <ng-container *ngFor="let iphone of iphoneData; let i = index">
                <div class="col-lg-4 mb-3">
                  <div class="card p-5 product-card" *ngIf="iphone.id <= 3">
                    <img [src]="iphone.image" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{iphone.name}}</h5>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModal' + i">
                        Buy Now
                      </button>

                      <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content modal-big">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{iphone.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex ">
                              <div class="modal-img col-lg-6">
                                <img [src]="iphone.image" class="card-img-top product-image-modal" alt="...">
                              </div>
                              <div class="modal-description col-lg-6">
                                <p>price:<span>{{iphone.price|currency}}</span></p>
                                <p>storage:<span>{{iphone.storage}}</span></p>
                                <p>ram:<span>{{iphone.ram}}</span></p>
                                <p>color:<span>{{iphone.color}}</span></p>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_13_pro_camera__fonn9igfi7qm_large.png"
                                    class="logo-details">
                                  <span>{{iphone.camera}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_battery__wqowcbwj50y2_large.png" class="logo-details">
                                  <span>{{iphone.battery}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_5g__f6zugtbm15ua_large.png" class="logo-details">
                                  <span>{{iphone.signal}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_face_id__eyzciiwkc5oy_large.png" class="logo-details">
                                  <span>{{iphone.lid}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary modal-close"
                                data-bs-dismiss="modal">Close</button>
                              <span class="minus" (click)="clickMinus()">-</span>
                              <span class="count">{{count}}</span>
                              <span class="plus" (click)="clickPlus()">+</span>
                              <button type="button" class="btn btn-primary" (click)="addToCart(iphone)">Add To
                                Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style="padding: 0 70px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
              <ng-container *ngFor=" let iphone of iphoneData; let i=index">
                <div class="col-lg-4 mb-3">
                  <div class="card p-5 product-card" *ngIf="iphone.id > 3 && iphone.id <=6">
                    <img [src]="iphone.image" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{iphone.name}}</h5>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModal' + i">
                        Buy Now
                      </button>
                      <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content modal-big">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{iphone.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex ">
                              <div class="modal-img col-lg-6">
                                <img [src]="iphone.image" class="card-img-top product-image-modal" alt="...">
                              </div>
                              <div class="modal-description col-lg-6">
                                <h1>{{iphone.name}}</h1>
                                <p>price:<span>{{iphone.price|currency}}</span></p>
                                <p>storage:<span>{{iphone.storage}}</span></p>
                                <p>ram:<span>{{iphone.ram}}</span></p>
                                <p>color:<span>{{iphone.color}}</span></p>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_13_pro_camera__fonn9igfi7qm_large.png"
                                    class="logo-details">
                                  <span>{{iphone.camera}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_battery__wqowcbwj50y2_large.png" class="logo-details">
                                  <span>{{iphone.battery}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_5g__f6zugtbm15ua_large.png" class="logo-details">
                                  <span>{{iphone.signal}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_face_id__eyzciiwkc5oy_large.png" class="logo-details">
                                  <span>{{iphone.lid}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary modal-close"
                                data-bs-dismiss="modal">Close</button>
                              <span class="minus" (click)="clickMinus()">-</span>
                              <span class="count">{{count}}</span>
                              <span class="plus" (click)="clickPlus()">+</span>
                              <button type="button" class="btn btn-primary" (click)="addToCart(iphone)">Add To
                                Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <section class="iphone-data">
      <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000" style="padding: 0 70px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
              <ng-container *ngFor="let iphone of iphoneData; let i = index">
                <div class="col-lg-4 mb-3">
                  <div class="card p-5 product-card" *ngIf="iphone.id >6 && iphone.id<= 9">
                    <img [src]="iphone.image" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{iphone.name}}</h5>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModal' + i">
                        Buy Now
                      </button>

                      <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content modal-big">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{iphone.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex ">
                              <div class="modal-img col-lg-6">
                                <img [src]="iphone.image" class="card-img-top product-image-modal" alt="...">
                              </div>
                              <div class="modal-description col-lg-6">
                                <h1>{{iphone.name}}</h1>
                                <p>price:<span>{{iphone.price|currency}}</span></p>
                                <p>storage:<span>{{iphone.storage}}</span></p>
                                <p>ram:<span>{{iphone.ram}}</span></p>
                                <p>color:<span>{{iphone.color}}</span></p>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_13_pro_camera__fonn9igfi7qm_large.png"
                                    class="logo-details">
                                  <span>{{iphone.camera}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_battery__wqowcbwj50y2_large.png" class="logo-details">
                                  <span>{{iphone.battery}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_5g__f6zugtbm15ua_large.png" class="logo-details">
                                  <span>{{iphone.signal}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_face_id__eyzciiwkc5oy_large.png" class="logo-details">
                                  <span>{{iphone.lid}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary modal-close"
                                data-bs-dismiss="modal">Close</button>
                              <span class="minus" (click)="clickMinus()">-</span>
                              <span class="count">{{count}}</span>
                              <span class="plus" (click)="clickPlus()">+</span>
                              <button type="button" class="btn btn-primary" (click)="addToCart(iphone)">Add To
                                Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style="padding: 0 70px;">
            <div class="d-flex flex-wrap justify-content-center" style="margin-top: 20px;">
              <ng-container *ngFor=" let iphone of iphoneData; let i=index">
                <div class="col-lg-4 mb-3">
                  <div class="card p-5 product-card" *ngIf="iphone.id > 9 && iphone.id <=12">
                    <img [src]="iphone.image" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{iphone.name}}</h5>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModal' + i">
                        Buy Now
                      </button>

                      <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content modal-big">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{iphone.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex ">
                              <div class="modal-img col-lg-6">
                                <img [src]="iphone.image" class="card-img-top product-image-modal" alt="...">
                              </div>
                              <div class="modal-description col-lg-6">
                                <h1>{{iphone.name}}</h1>
                                <p>price:<span>{{iphone.price|currency}}</span></p>
                                <p>storage:<span>{{iphone.storage}}</span></p>
                                <p>ram:<span>{{iphone.ram}}</span></p>
                                <p>color:<span>{{iphone.color}}</span></p>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_13_pro_camera__fonn9igfi7qm_large.png"
                                    class="logo-details">
                                  <span>{{iphone.camera}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_battery__wqowcbwj50y2_large.png" class="logo-details">
                                  <span>{{iphone.battery}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_5g__f6zugtbm15ua_large.png" class="logo-details">
                                  <span>{{iphone.signal}}</span>
                                </div>
                                <div class="specification">
                                  <img src="https://www.apple.com/v/iphone/home/bi/images/overview/compare/icon_face_id__eyzciiwkc5oy_large.png" class="logo-details">
                                  <span>{{iphone.lid}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary modal-close"
                                data-bs-dismiss="modal">Close</button>
                              <span class="minus" (click)="clickMinus()">-</span>
                              <span class="count">{{count}}</span>
                              <span class="plus" (click)="clickPlus()">+</span>
                              <button type="button" class="btn btn-primary" (click)="addToCart(iphone)">Add To
                                Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <section class="more-iphone-section">
      <h2 class="typography-section-headline more-iphone-headline large-centered large-10">Get more out of
        your&nbsp;iPhone.</h2>
      <div class="container more-iphone-parent">
        <div class="row">
          <div class="col-lg-6 more-iphone-icons">
            <img src="https://www.apple.com/mideast/iphone/home/bg/images/overview/bundle__gkzbqz77r82m_large.jpg">
          </div>
          <div class="col-lg-6 more-iphone-one">
            <img
              src="https://www.apple.com/v/iphone/home/bi/images/overview/more-iphone/apple_one__cq8ojsqxitea_large.jpg"
              class="one-logo">
            <p class="tile-subheadline">Bundle four Apple&nbsp;services. <br class="large">And enjoy more for less.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
